@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");

:root {
  --font: "Arimo", sans-serif;
  --main-color: #d95550;
  --primary-color: white;
  --secondary-color: black;
}
a {
  font-family: var(--font);
  font-size: 1em;
  text-decoration: none;
  justify-self: center;
  justify-content: center;
}
body {
  font-family: var(--font);
}

header,
article.timerZone {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 50%;
  padding: 2%;
  padding-bottom: 5%;
}
header {
  grid-column: 2/3;
  grid-row: 1/2;
  height: fit-content;
}
a,
button {
  font-family: var(--font);
  border: medium;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  height: 40px;
  background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
  box-shadow: none;
  color: white;
  opacity: 1;
  width: max-content;
}
a:hover,
button:hover {
  background-color: darkgrey;
}
header button {
  justify-self: baseline;
  align-self: center;
}
article.timerZone {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
}
.firstButtons {
  display: flex;
  gap: 5%;

  /* font-size: 0.2em; */
}
#timer {
  font-size: 5em;
}
.start {
  font-size: 2em;
}
.textZone {
  background-color: var(--primary-color);
}

.textZone h1,
.textZone h3,
.textZone p,
.textZone ol,
.textZone ul {
  color: var(--secondary-color);
  grid-column: 2/3;
}
span {
  color: var(--main-color);
}

.timerZone a,
.timerZone p,
.timerZoneShort p,
.timerZoneLong p,
header h1 {
  color: var(--primary-color);
}

.timerZoneShort {
  background-color: #4c9195;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  padding: 2%;
}
.short {
  background-color: #4c9195;
}
.timerZoneLong {
  background-color: #457ca3;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  padding: 2%;
}
.long {
  background-color: #457ca3;
}
/* media queries */
@media screen and (min-width: 280px) {
  /* article.timerZone,
  article.timerZoneLong,
  article.timerZoneShort {
    display: block;
  } */

  .textZone {
    padding: 7%;
  }
  footer {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 5%;
    justify-items: center;
  }
  header {
    display: flex;
    flex-flow: column;
  }
  header button {
    margin: 2%;
  }
}
@media screen and (min-width: 900px) {
  .textZone {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column: 2/3;
  }
  footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 5%;
  }
  header {
    display: flex;
    flex-flow: row;
    gap: 2%;
  }
}
