@font-face {
  font-family: "ArialRounded";
  font-display: swap;
  src: url("/arlrdbd.ttf") format("truetype");
}

:root {
  --font: "ArialRounded";
  --main-color: #d95550;
  --primary-color: white;
  --secondary-color: black;
}

body {
  font-family: var(--font);
}

header,
article.timerZone {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 50%;
  padding: 5%;
}
header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-flow: row;
  gap: 2%;
  height: fit-content;
}

button {
  border: medium none;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
  box-shadow: none;
  color: white;
  opacity: 1;
  width: fit-content;
}

header button {
  justify-self: baseline;
}
article.timerZone {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
}
.firstButtons {
  display: flex;
  gap: 2%;
}

.textZone {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-column: 2/3;
}

.textZone h1,
.textZone h3,
.textZone p,
.textZone ol,
.textZone ul,
footer .p {
  color: var(--secondary-color);
  grid-column: 2/3;
}
span {
  color: var(--main-color);
}

.timerZone h4,
.timerZone button,
.timerZone p,
header h1 {
  color: var(--primary-color);
}

/* .start {
  cursor: pointer;
  border: medium none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-family: "ArialRounded";
  font-size: 22px;
  height: 55px;
  color: rgb(217, 85, 80);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out 0s;
} */

/* media queries */
